.card {
    min-width:300px;
    width:20%;
    border-radius: 8px;
    box-shadow: 0 4px 4px 6px rgba(0,0,0,0.1);
}
.card .top {
    margin:0;
    height:170px;
}
.card .country-flag {
width:100%;
    border-radius: 9px 8px 0 0;
    height: 100%;
    object-fit: cover;
}

.card .bottom {
    padding: 0 20px 20px;
}