main {
    margin:4rem;
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem 2rem;
    justify-content: space-between;
    margin-top:3rem;
}

.searchFilterContainer {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
}