#root {
  margin:20px;
  height:100vh;
  
}
:root {
  --dark-bg: hsl(207, 26%, 17%);
  --light-bg: hsl(0,0%,98%);

  --dark-blue: hsl(200, 15%, 8%);
  --dark-blue-text: hsl();
  --white: hsl(0,0%,100%);

  --dark-gray: hsl(0,0%, 52%);

}


